[main]
charset: UTF8
pid_file_path: run/yaturl.pid
accesslog: log/access.log
errorlog: log/error.log
staticdocumentroot: static/
#user: yaturl
thread_watch_timeout: 300

[http]
host: 0.0.0.0
port: 24882
resolve_clients: true
hostname: yaturl.net

[telnet]
enable: true
host: 127.0.0.1
port: 24883

[database]
user: user
password: pw
host: 127.0.0.1
port: 3306
database: db_name

[templates]
statichomepage: share/yaturl/templates/homepage.tpl
staticresultpage: share/yaturl/templates/return.tpl
corruptlink: share/yaturl/templates/404.tpl
databaseissuelink: share/yaturl/templates/databaseerror.tpl
servererror: share/yaturl/templates/500.tpl
contactusresultpage: share/yaturl/templates/contactUsResult.tpl
showpage: share/yaturl/templates/showpage.tpl


[email]
fromemail: example@example.org
toemail: example@example.org
