[main]
charset: UTF8
pid_file_path: run/yaturl.pid
accesslog: log/access.log
errorlog: log/error.log
#user: yaturl

[http]
host: 0.0.0.0
port: 24882
resolve_clients: true

[database]
user: user
password: pw
host: 127.0.0.1
port: 3306
database: db_name

[templates]
statichomepage: share/yaturl/templates/homepage.tpl
staticresultpage: share/yaturl/templates/return.tpl
resultpage: share/yaturl/templates/result.tpl
corruptlink: share/yaturl/templates/404.tpl
databaseissuelink: share/yaturl/templates/databaserror.tpl
servererror: share/yaturl/templates/500.tpl
