[main]
charset: UTF8
pid_file_path: run/yaturl.pid
accesslog: log/access.log
errorlog: log/error.log
staticdocumentroot: static/
log_ip_activated: false
#user: yaturl
thread_watch_timeout: 300

[http]
host: 0.0.0.0
port: 24882
resolve_clients: true
hostname: yaturl.net

[telnet]
enable: true
host: 127.0.0.1
port: 24883

[database]
user: user
password: pw
host: 127.0.0.1
port: 3306
database: db_name

[templates]
path = share/yaturl/templates/

[email]
fromemail: example@example.org
toemail: example@example.org
